<div class="container portfolio-banner-container no-print">
  <div class="portfolio-banner">
    <div class="pb-left">
      <img src="{{ '/images/pdf-icon.png' | relative_url }}" alt="PDF Icon" class="pb-pdf-img">
    </div>

    <div class="pb-center">
      <div class="pb-badge"><i class="fas fa-file-pdf"></i> PDF RESUME</div>
      <h2 class="pb-title">포트폴리오 보러가기</h2>
      <p class="pb-subtitle">프로젝트 경험, 기술 스택, 성과 과정을 한눈에 확인해보세요.</p>
      
      <a href="https://drive.google.com/file/d/1C3DG98mwupfVfZRaSptACoeEs993-v18/view?usp=drive_link" target="_blank" class="pb-button">
        <i class="fas fa-download"></i> 포트폴리오 PDF 열기
      </a>
      
      <p class="pb-note">새 탭에서 PDF가 열립니다.</p>
    </div>

    <div class="pb-right">
      <ul class="pb-checklist">
        <li><i class="far fa-check-circle"></i> 프로젝트 상세 경험</li>
        <li><i class="far fa-check-circle"></i> 기술 스택 및 아키텍처</li>
        <li><i class="far fa-check-circle"></i> 성과 및 성능 개선 사례</li>
      </ul>
    </div>
  </div>
</div>
